.LogIn {
  /* sizing */
  flex: 1;
  /* display */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LogIn > h1 {
  /* sizing */
  font-size: 3rem;
  /* positioning */
  margin-bottom: 2rem;
  /* styling */
  font-weight: 600;
  color: var(--primary-font-color);
}

.login-container {
  /* sizing */
  width: 36rem;
  height: 30rem;
  /* display */
  display: flex;
  justify-content: center;
  align-items: center;
  /* styling */
  border-radius: 2rem;
  background-color: var(--secondary-color);
}

.login-form {
  /* sizing */
  height: 95%;
  width: 95%;
  /* display */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* styling */
  border-radius: 1.3rem;
  background-color: var(--primary-color);
}

.login-error {
  /* sizing */
  font-size: 1.5rem;
  /* positioning */
  position: absolute;
  top: 15rem;
  /* styling */
  color: red;
}

.login-submit {
  margin-top: 5rem;
}
