.Landing {
  /* sizing */
  flex: 1;
  /* display */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-header {
  margin-top: 2rem;
  text-align: center;
  color: var(--primary-font-color);
}

h2.welcome-message {
  opacity: 0.8;
  font-style: italic;
}

.product-categories {
  /* sizing */
  height: 90%;
  width: 80%;
  /* positioning */
  position: relative;
  margin: 7.5rem 0;
  /* display */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid;
  /* styling */
  color: var(--primary-font-color);
}

.category-carousel {
  /* sizing */
  padding: 1rem 5rem;
  width: 90%;
  height: 80%;

  /* display */
  display: flex;

  align-items: center;
  gap: 1rem;
  /* styling */
  border: 1px solid;
  /* functionality */
  overflow: auto;
  scroll-behavior: smooth;
}

.left-arrow,
.right-arrow {
  /* sizing */
  height: 3rem;
  width: 3rem;
  /* positioning */
  position: absolute;
  top: 50%;
  /* styling */
  border-radius: 100%;
  border: none;
  box-shadow: 0 0 0.5rem var(--primary-font-color);
  background-color: transparent;
}

.left-arrow > svg,
.right-arrow > svg {
  height: 100%;
  width: 100%;
  fill: var(--primary-font-color);
}

.left-arrow {
  left: 6%;
}

.right-arrow {
  right: 6%;
}
