.UserOptions {
  /* sizing */
  width: 13rem;
  height: 15rem;
  /* positioning */
  position: absolute;
  top: 5rem;
}

.UserOptions::before {
  content: "";
  /* sizing */
  width: 1.25rem;
  height: 1.25rem;
  /* positioning */
  position: absolute;
  top: -0.6rem;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  /* styling */
  background-color: var(--primary-border-color);
  border-radius: 0.2rem;
}

.options-container {
  /* sizing */
  width: 13rem;
  height: 15rem;
  padding: 0.5rem 1rem;
  /* positioning */
  position: absolute;
  top: 0;
  left: -5px;
  z-index: 1;
  /* display */
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  /* styling */
  background-color: white;
  border: 5px solid var(--primary-border-color);
  border-radius: 1.5rem;
  animation: rollOut 0.15s ease;
  overflow: hidden;
}

.option {
  /* sizing */
  padding: 1rem 0;
  /* display */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* styling */
  box-shadow: 0 0.5rem 0.5rem -0.8rem black;
}

.option > a {
  color: var(--primary-font-color);
}

.option > a:hover {
  opacity: 0.8;
}

.log-out-button {
  font-size: 1.5rem;
}

@keyframes rollOut {
  from {
    height: 2rem;
  }

  to {
    height: 15rem;
  }
}
