:root {
  --primary-color: #fef5d6;
  --secondary-color: #ea6913;
  --tertiary-color: #e93012;
  --primary-font-color: black;
  --secondary-font-color: white;
}

[data-theme="light"] {
  --primary-color: #fef5d6;
  --secondary-color: #ea6913;
  --tertiary-color: #e93012;
  --primary-font-color: black;
  --secondary-font-color: white;
}

[data-theme="dark"] {
  --primary-color: #3a3a3a;
  --secondary-color: #ff8f4d;
  --tertiary-color: #ff4d4d;
  --primary-font-color: #ffffff;
  --secondary-font-color: #1a1a1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  background-color: var(--primary-color);
}
