@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #fef5d6;
  --secondary-color: #ea6913;
  --tertiary-color: #e93012;
  --primary-font-color: black;
  --secondary-font-color: white;
  --primary-border-color: #b2250e;
  font-family: "Montserrat", sans-serif;
}

[data-theme="light"] {
  --primary-color: #fef5d6;
  --secondary-color: #ea6913;
  --tertiary-color: #e93012;
  --primary-font-color: black;
  --secondary-font-color: white;
}

[data-theme="dark"] {
  --primary-color: #3a3a3a;
  --secondary-color: #ff8f4d;
  --tertiary-color: #ff4d4d;
  --primary-font-color: white;
  --secondary-font-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  background-color: var(--primary-color);
}

/* styling for buttons */
button {
  background-color: white;
  transition: all 0.1s;
}

button:hover {
  background-color: #ececec;
}

.pill-shape {
  /* sizing */
  padding: 0.75rem 2rem;
  font-size: 2rem;
  /* styling */
  border-radius: 2rem;
  border: 2px solid #000000b6;
}
